<a href="https://colab.research.google.com/github/HaroldDennisPuno/CpE0332.1-1-Elective-3/blob/main/Conditional_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

If Statement

In [3]:
a = 12
b = 100

if a > b:
  print("a is greater than b")
elif a == b:
  print("a is equal to b")
else:
  print("a is less than b")

a is less than b

Elif Statement

In [8]:
age = int(input("What is your age? "))

if age >= 18:
  print("You are qualified to get a license")
elif age < 18:
  print("You are not qualified to get a license")

What is your age? 19
You are qualified to get a license

Else Statement

In [11]:
x = int(input("Enter a integer "))

if x > 0:
  print("Positive Number")
elif x < 0:
  print("Negative Number")
else:
  print("Zero")

Enter a integer 0
Zero

Short Hand IF Statement

In [18]:
a = 100
b = 100

if a < b: print("a is less than b")
if a > b: print("a is greater than b")
if a == b: print("a is equal to b")

a is equal to b

Short Hand If Else statement

In [21]:
a = 2
b = 330
print("a")if a > b else print("b")

b

And Statement

In [20]:
c = 500
if a < b and c > a:
  print ("Both statements are true")

Both statements are true

Or Statement

In [32]:
a = 2
b = 330
c = 500

if a > b or c > a: #needs both of the statement to be false to print the else condition, if any is true then it will print the first condition
  print("Both statements are true")
else:
  print("One statement is false")

Both statements are true

Nested If Statement

In [39]:
x = int(input("Enter your integer "))

if x > 10:
  print("above 10")
if x > 20:
  print("and above 20")
if x > 30:
  print("and above 30")
if x > 40:
  print("and above 40")
else:
  print("")

Enter your 20
above 10

Application 2



		Write a program to determine the grades are
        If:
        grade > = 75 , “Passed”​
		grade = 74, “Remedial”​
		grade < 74, “Failed”​
		note: if grade is a negative number, it will not accepted

In [82]:
grade = float(input("Enter your grade: "))

if grade >= 75:
  if grade > 100:
    print("You have entered an invalid number!")
  else:
    print("You have passed!")

elif grade == 74:
   print("You need to take a remedial.")

else:
  if grade < 0:
    print("You have entered a negative number, it is not accepted.")
  else:
    print("You have failed.")

Enter your grade: helloo

TypeError: '>=' not supported between instances of 'str' and 'int'