<a href="https://colab.research.google.com/github/HaroldDennisPuno/CpE0332.1-1-Elective-3/blob/main/LoopStatement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

LOOP Statement

In [ ]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  print(x, end = " ")

Sunday Monday Tuesday Wednesday Thursday

Break Statement

In [ ]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  print(x, end = " ")

#This code stops when X see's thursday in the list.
  if x == "Thursday":
    break

Sunday Monday Tuesday Wednesday Thursday

Looping through a string

In [ ]:
for x in "week":
  print(x)

w
e
e
k

range() Function

In [ ]:
for x in range(5):
  print(x)

for x in range(2,6):
    print(x)

0
1
2
3
4
2
3
4
5

Nested Loops

In [ ]:
adjective = ["red", "big","tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

While Loop

In [ ]:
i = 1

while i < 6:
  print(i)
  i += 1

1
2
3
4
5

While Loop break statement

In [ ]:
i = 1

while i < 6:
  print(i)
  i += 1

  if i == 3: #While loop break statement stops at the designated number
    break

1
2

Continue Statement

In [ ]:
i = 0

while i < 6:
  i += 1

  if i == 3: #The continue statement skips the chosen number
    continue
  print(i)

1
2
4
5
6

The else statement

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1

else:
  print("I is no longer less than 6")

1
2
3
4
5
I is no longer less than 6

### **Application 3**

In [ ]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week: #This code stops when X see's thursday in the list.
  if x == "Thursday":
    print(x)
    break

Thursday

### **Application 4**

In [ ]:
#Create a Python program that displays (Hello 0 to Hello 10)
for i in range(11):
  print("Hello", i)

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

### **Application 5**

In [ ]:
#Create a Python program that displays integers less than 10 but not less than 3

for i in range(1,11):
  if i < 3:
    continue
  if i < 10:
    print(i)

3
4
5
6
7
8
9