<a href="https://colab.research.google.com/github/HaroldDennisPuno/CpE0332.1-1-Elective-3/blob/main/Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Indentation

In [ ]:
if 5>2:
  print("Five is greater than two!")

Five is greater than two!

In [ ]:
x = 5
y = 2

if x > y:
  print("Five is greater than two")

Five is greater than two

Python Comment

In [ ]:
#This is a python comment
print("Hello World")

Hello World

Python Variable

In [ ]:
z = 1
z, s = 0, -1
print(z)

0

Casting

In [ ]:
b = "Sally" #This is a string
b = int(4)
b

4

Type()  Function

In [ ]:
print(type(b))

<class 'int'>

Double Quotes and Single Quotes

In [ ]:
w = "Ana"
print(w)
q = 'Ana'

Ana

Case Sensitive

In [ ]:
a = int(4)
A = "Sally"

print(a)
print(A)

4
Sally

Multiple Variables

In [ ]:
h,i,j = "one", "two","three"
print(h)
print(i)
print(j)

one
two
three

Multiple Variables with Single Value

In [ ]:
k = l = m = "four"
print(k)
print(l)
print(m)

four
four
four

Output Variable and Concatenation

In [ ]:
n = "enjoying"
print("Python programming is" + " " + n)

Python programming is enjoying

Arithmetic Operations

In [29]:
x = 3
y = 2

print(x + y) #Addition
print(x - y) #Subtraction
print(x * y) #Multiplication
print(x / y) #Division
print(x // y) #Floor Division
print(x % y) # Modulus

5
1
6
1.5
1
1

Assignment Operators

In [31]:
x += 3 #same as x = x + 3
print(x)

9

Comparison Operator

In [34]:
print(x==y) #x=3, y=2
print(x!=y)
print(x>y)
print(x<y)

False
True
True
False

Logical Operators

In [38]:
print(x==y and x!=y) #Flase and True
print(x==y or x!=y) #False or True
print(not(x==y or x!=y)) #Negates(Flase or True)

False
True
False

Identity Operators

In [39]:
x is y #x=3, y=2
x is not y

True

Bitwise Operators

In [43]:
#10 + 1 = 11 ; 1010 + 0001 = 1011
print(10 & 1)

print(x>>1) #x=3, 011

0
4

Application 1

In [44]:
#Create a Python program that displays your Fullname, Course and Section, and your Course and Section

In [67]:
fullname =str(input("What is your Full name? "))
age = int(input("What is your age? "))
course = str(input("What is your current course? "))
section = str(input("What is your section number? "))

print("\n")

print("My fullname is " + fullname + " ")
print("My current age is " + str(age) + " years old ")
print("I am a " + course + " Student " + "and I am under the section of block " + section)

What is your Full name? Harold Dennis R. Puno
What is your age? 21
What is your current course? Computer Engineering
What is your section number? 1


My fullname is Harold Dennis R. Puno
My current age is 21 years old
I am a Computer Engineering Student and I am under the section of block 1